.photo-grid {    
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(3, auto);
    gap: 16px 16px;
    justify-content: center;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 29%);
        grid-template-rows: repeat(4, auto);
        gap: 14px 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 0 auto 88px;
        max-width: 720px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, auto);
        gap: 16px 16px;        
        }
    }
 
@media screen and (max-width: 600px) {
    .photo-grid {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 64px;
    }
}