.header {    
    width: 92.5%;  
    min-height: 52px;        
    margin: 2.19% 3.52% 4.77% 3.75%;
    text-align: end;    
}

@media screen and (max-width: 320px) {
    .header {        
        width: 90%;               
    }
}