.menu__link {
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 420px) {
    .menu__link {
        width: 58.13%;
        flex-direction: column;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 32px;        
    }

    .menu__link:last-child {
        margin-bottom: 48px;
    }
}

.menu__link:hover{
    opacity: .8;
}

