.place {
    display: grid;
    grid-template-columns: 46.75% 49.19%;
    grid-template-rows: repeat(3, auto);
    gap: 4.87% 4.87%;
    margin-bottom: 9.35%;
 }

 @media screen and (max-width: 1024px) {
    .place {
        display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 3.13% 3.13%;        
    }
 }
  
 @media screen and (max-width: 768px) {
    .place {
        display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 3.65% 3.65%;        
    }
 }

 @media screen and (max-width: 600px) {
    .place {
        display: flex;
        flex-direction: column;            
    }
 }

 @media screen and (max-width: 320px) {
    .place {
        display: flex;
        flex-direction: column;       
    }
 }