.place {
    display: grid;
    grid-template-columns: 46.75% 49.19%;
    grid-template-rows: repeat(2, auto);
    gap: 4.87% 4.87%;
    margin-bottom: 9.35%;
 }

 @media screen and (max-width: 1024px) {
    .place {
    grid-template-columns: 440px 456px;
    gap: 3.13% 3.13%;
    }
 }
  
 @media screen and (max-width: 768px) {
    .place {
      grid-template-columns: 340px 352px;
      gap: 48px 28px;
      margin-bottom: 73px;
    }
 }

 @media screen and (max-width: 600px) {
    .place {
        display: flex;
        flex-direction: column;
    }

    .place:last-child {
      margin-bottom: calc(66px - 26px);
  }
 }

 